<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adaptive_artcile.css">
    <title></title>
    
</head>
<body>
    <div class="article">
        <div class="article_header">
            <div class="controls">
                <div class="left_controls">
                    <a class="btn controls_home_btn"href="">
                        главная
    
                    </a>
    
               </div>
    
               <div class="right_controls">
                    <button class="btn controls_edit_btn">править</button>
                    <button class="btn controls_delete_btn">удалить</button>
               </div>
    
            </div>
        </div>

        <div class="article_body">
            <div class="text_information">
                <div class="article_title">
                    <h1>Московское метро</h1>
                </div>
        
        
            
                <div class="article_text">
                    Московский метрополитен на 2025 год состоит из 15 линий длиной около 471,7 км в двухпутном исчислении (без учёта монорельса, МЦК и МЦД, технически с метрополитеном не взаимосвязанных) с 271 станцией, из которых более 40 являются памятниками культурного наследия.  1
    
    
                    
                </div>
    
            </div>
            
            <div class="article_image">
                <img src="../static/img/Ploshchad_revolyutsii_Metro_2010.jpg" alt="">
                
            </div>
        </div>

        


        




    </div>
    
</body>
</html>